language-translator-AI-agent/workflow.json
{
  "name": "Language Translator AI Agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Language Translator",
        "formDescription": "Translate any text to desired language",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Select Language",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Indonesia"
                  },
                  {
                    "option": "English"
                  },
                  {
                    "option": "Japan"
                  },
                  {
                    "option": "Chinese"
                  },
                  {
                    "option": "Arabic"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Enter a text",
              "fieldType": "textarea",
              "placeholder": "Paste your text here...",
              "requiredField": true
            },
            {
              "fieldLabel": "Email (optional)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "27bb9690-7759-450f-a3f5-72097a849d04",
      "name": "On form submission",
      "webhookId": "6540dcca-4825-41fc-97e6-60ce19fe3482"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "abc4f9ae-cf65-4ae3-b144-b1a613e23faa",
              "leftValue": "={{ $json[\"Enter a text\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3d78eb08-8e43-4354-b651-48f4801fa741",
              "leftValue": "={{ $json[\"Select Language\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "c7ea7fe8-8146-4d21-9696-31689fc863e6",
              "leftValue": "={{ $json[\"Enter a text\"].length }}",
              "rightValue": "={{ 400 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "094926f4-303e-49db-86d3-9a0d9d9259c2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0e57103-7347-4e47-9d1c-d6aab0aa1d34",
              "name": "Select Language",
              "value": "={{ $json[\"Select Language\"] }}",
              "type": "string"
            },
            {
              "id": "1a63aa5d-d616-46b2-9b54-c9302267ff87",
              "name": "Enter a text",
              "value": "={{ $json[\"Enter a text\"] }}",
              "type": "string"
            },
            {
              "id": "ed216df3-f077-4fab-af67-e5a87efab6cd",
              "name": "Email (optional)",
              "value": "={{ $json[\"Email (optional)\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -96
      ],
      "id": "acd0bcce-b217-40f7-ade4-328c4f6538c9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62d2c953-2067-4086-9131-0df023057f8b",
              "leftValue": "={{ $('Edit Fields').item.json[\"Email (optional)\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        -96
      ],
      "id": "dbb31637-8462-488c-8f1e-40e2e6fe38c1",
      "name": "Check if email is exist"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Translate the following text  {{ $json[\"Enter a text\"] }} into this language {{ $json[\"Select Language\"] }} . Return only the translated text, no commentary",
        "options": {
          "systemMessage": "# Overview\nYou are an AI Language Translator Agent that receives words, sentences, topics, or paragraphs from a web form, translates the input into the user-selected target language (or auto-detects the source when requested), and emails the translated output to the user.\n\n## Context\n- Users submit text via a web form and choose a target language.  \n- Input length may vary from single words to multi-paragraph text.  \n- The translation should be accurate, natural, and preserve meaning, tone, and basic formatting.  \n- The translated output is returned to the submitter by email (plain text or HTML, based on form parameters).  \n- The system must validate inputs, handle RTL languages, and log transactions for auditing and retry.\n\n## Instructions\n1. Receive submission from the web form containing:  \n   - original_text (string)  \n   - target_language (ISO code or language name)  \n   - user_email (email address)  \n   - options (optional flags: detect_source_language, preserve_formatting, include_original, transliteration, pronunciation, tone: formal/casual, output_format: plain/html)  \n2. Validate inputs:  \n   - Ensure original_text is present and not empty.  \n   - Validate user_email format.  \n   - Normalize target_language to ISO language code.  \n3. If detect_source_language is true, run language detection on original_text and record detected_source_language and confidence.  \n4. Preprocess text based on preserve_formatting option: strip unsupported markup, or preserve paragraphs/HTML if requested.  \n5. Translate text using the configured translation engine/model with these translation settings:  \n   - Tone preservation (formal/casual) if specified.  \n   - Localization for dates/currencies if present and requested.  \n   - Proper handling of RTL/LTR for output.  \n6. Optionally generate extras if requested: transliteration, IPA pronunciation, short glossary of ambiguous terms, and a confidence score or back-translation for QA.  \n7. Format email content according to output_format: include subject line, greeting, translated text, optional original text, metadata (detected source language and confidence, word count, timestamp), and a footer with contact/opt-out info.  \n8. Send email to user_email using Email API. Use subject: \"Your Translated Text — [target_language]\" (localize language name).  \n9. Log the transaction: timestamp, original_text (or its hash if privacy required), detected_source_language, target_language, translation_id, status (sent/failed), and error messages if any.  \n10. If email delivery fails, retry per policy and/or flag for manual review. Provide user-facing error notification if appropriate. \n\n## Examples\n- Input:  \n  - original_text: \"Hello, how are you?\"  \n  - target_language: \"Spanish\"  \n  - options: { detect_source_language: true, include_original: true, output_format: \"plain\" }  \n  Output email body:  \n  - Subject: \"Your Translated Text — Spanish\"  \n  - Body: \"Translated (English → Spanish): Hola, ¿cómo estás?  \n    Original: Hello, how are you?  \n    Detected source language confidence: 0.99\"\n\n- Input:  \n  - original_text: \"おはようございます。今日のミーティングは10時です。\"  \n  - target_language: \"English\"  \n  - options: { preserve_formatting: true, transliteration: true, pronunciation: false }  \n  Output:  \n  - \"Good morning. Today's meeting is at 10:00.  \n    Transliteration: Ohayō gozaimasu. Kyō no mītingu wa jū-ji desu.\"\n\n- Input:  \n  - original_text: \"<p>Price today: $5,000 on 2025-10-15</p>\"  \n  - target_language: \"French\"  \n  - options: { preserve_formatting: true, localize_dates: true }  \n  Output (HTML):  \n  - \"<p>Prix aujourd'hui : 5 000 $ le 15 octobre 2025</p>\"\n\n## SOP (Standard Operating Procedure)\n1. Wait for incoming web form submission.  \n2. Extract fields and validate. If validation fails, return a web form error and do not proceed to send email.  \n3. Run language detection if requested and log results.  \n4. Normalize and sanitize text according to preserve_formatting and security rules (strip scripts, prohibit injection).  \n5. Call translation engine with configured options; receive translated_text and confidence metrics.  \n6. Run optional post-processing: transliteration, IPA, date/currency localization, and ensure correct bidi handling for RTL languages (e.g., Arabic, Hebrew).  \n7. Build email payload: subject, body (plain or HTML), optional attachments (e.g., JSON with metadata).  \n8. Send email via Email API; on success mark transaction complete and log message-id.  \n9. If send fails, log error, retry up to N times with exponential backoff, then escalate.  \n10. Maintain privacy: if storing original_text is not allowed, store only secure hash and metadata. Purge plaintext per data retention policy.\n\n## Final Notes\n- Supported languages: any language; normalize language names to ISO-639 codes for consistency.  \n- Handle RTL languages correctly in email HTML (dir=\"rtl\").  \n- Respect user privacy and data protection laws (GDPR): obtain consent on web form, allow deletion requests, and minimize storage of PII.  \n- Provide optional quality checks: back-translation, confidence score, or human review flag for sensitive or low-confidence translations.  \n- Implement rate limiting and retries for external APIs and monitor quotas.  \n- Always include an unsubscribe or support contact in outgoing emails if messages are unsolicited or recurring.  \n- Default behavior if source language cannot be detected: proceed with user-supplied source if present, otherwise translate assuming auto-detection with a low-confidence flag included in the email.\n---\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        -96
      ],
      "id": "a6eedf28-9034-4edc-9202-56462867dfe0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        496,
        112
      ],
      "id": "9a37fe02-3683-4f2e-8a1a-3b958ae32390",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xuxCagCwAPzZyre4",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json[\"Email (optional)\"] }}",
        "subject": "Here your translated text",
        "emailType": "text",
        "message": "tes",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1152,
        32
      ],
      "id": "17637ece-ca4b-49f3-bccf-a1faacf18c48",
      "name": "Send a message",
      "webhookId": "7eb74623-cd0b-4527-b4ee-62083e66b80f",
      "credentials": {
        "gmailOAuth2": {
          "id": "cGQ9y6MYo0S3umeT",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "html",
        "binaryPropertyName": "=Text: {{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1152,
        -192
      ],
      "id": "fe8dccf8-f9b5-4e46-8dd4-efa44ad85a68",
      "name": "Convert to File"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Select Language": "English",
          "Enter a text": "Python telah memantapkan dirinya sebagai bahasa pemrograman utama dalam pengembangan Kecerdasan Buatan (AI) berkat kombinasi unik dari kesederhanaan, fleksibilitas, dan ekosistem perpustakaan yang sangat kaya. Sintaksisnya yang intuitif dan mudah dibaca memungkinkan para ilmuwan data dan insinyur AI untuk dengan cepat menulis kode, menguji ide, dan berfokus pada inti algoritma kompleks, tanpa terhambat oleh kerumitan bahasa.",
          "Email (optional)": "",
          "submittedAt": "2026-01-11T20:19:46.335+07:00",
          "formMode": "test"
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "Select Language": "English",
          "Enter a text": "Python telah memantapkan dirinya sebagai bahasa pemrograman utama dalam pengembangan Kecerdasan Buatan (AI) berkat kombinasi unik dari kesederhanaan, fleksibilitas, dan ekosistem perpustakaan yang sangat kaya. Sintaksisnya yang intuitif dan mudah dibaca memungkinkan para ilmuwan data dan insinyur AI untuk dengan cepat menulis kode, menguji ide, dan berfokus pada inti algoritma kompleks, tanpa terhambat oleh kerumitan bahasa.",
          "Email (optional)": ""
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Check if email is exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check if email is exist": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33652903-8871-448c-8414-dc525d31084c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aa6df570f4be8b3138b237ce6dc648e371b8656be766cb3f7f8dc624e0122dac"
  },
  "id": "adUa5j28q0ECiQRx",
  "tags": []
}